pybind11==2.9.2
cmake==3.22.4
sphinx==3.5.4
myst-parser==0.17.2
jinja2<3.1
furo==2021.4.11b34
sphinx-copybutton==0.5.0
# above are dev dependencies
--pre
--find-links https://staging.oneflow.info/branch/master/cpu
oneflow
